dist
.env*
!*.sample
node_modules
.serverless

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.DS_Store
.DS_Store?
._*
.localstack

.webpack
service-account-key.json